.cta {
  color: var(--color-black);
  text-align: left;
  padding: 8rem 4rem 9.4rem;
  h2 {
    font-family: "OpenSansRegular";
    font-size: 2.8rem;
    line-height: 130%;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    margin-bottom: 4.2rem;
  }

  &__slide {
    &--top {
      height: 41rem;
      position: relative;
      img {
        background-color: var(--color-gray-light);
        object-fit: cover;
        height: 100%;
        width: 100%;
      }

      figcaption {
        font-family: "OpenSansRegular";
        padding: 0.5rem;
        font-size: 1.2rem;
        line-height: 167.5%;
        text-align: center;
        background-color: var(--color-white);
        position: absolute;
        top: 0.8rem;
        left: 0.8rem;
      }
    }

    &--bottom {
      font-family: "OswaldLight";
      padding: 0.8rem 0;
      h6 {
        text-transform: uppercase;
        font-size: 1.2rem;
        line-height: 168%;
        letter-spacing: 0.16em;
        margin-bottom: 0.8rem;
      }
      span {
        display: block;
        margin-bottom: 0.8rem;
      }
      p {
        font-size: 1.2rem;
        line-height: 168%;
        letter-spacing: 0.16em;
      }
    }
  }

  &__slider__container {
    position: relative;
  }

  &__slider__controllers {
    border: none;
  }
}

@media (max-width: $size-desktop-small) {
  .cta {
    padding: 4rem 1.6rem;
  }
}

@media (max-width: $size-mobile) {
  .cta {
    &__slide {
      &--top {
        height: 20.9rem;
      }
    }
  }
}
